@page
@model WebApplication1.Pages.Drinki.EditModel
@{
}

<br />
<h2 class="text-info">Edycja Drinka</h2>

<div class="border container" style="padding:30px;">
    <form method="post">
        <input type="hidden" asp-for="Drink.id_drinka" />
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Drink.Nazwa"></label>
            </div>
            <div class="col-6">
                <input asp-for="Drink.Nazwa" class="form-control" />
            </div>
            <span asp-validation-for="Drink.Nazwa" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Drink.Objetosc"></label>
            </div>
            <div class="col-6">
                <input asp-for="Drink.Objetosc" class="form-control" />
            </div>
            <span asp-validation-for="Drink.Objetosc" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Drink.Kolor"></label>
            </div>
            <div class="col-6">
                <input asp-for="Drink.Kolor" class="form-control" />
            </div>
            <span asp-validation-for="Drink.Kolor" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Drink.Rodzaj_drinka"></label>
            </div>
            <div class="col-6">
                <input asp-for="Drink.Rodzaj_drinka" class="form-control" />
            </div>
            <span asp-validation-for="Drink.Rodzaj_drinka" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Drink.Cena"></label>
            </div>
            <div class="col-6">
                <input asp-for="Drink.Cena" class="form-control" />
            </div>
            <span asp-validation-for="Drink.Cena" class="text-danger"></span>
        </div>
        <div class="form-group row ">
            <div class="col-3 offset-3">
                <input type="submit" value="Aktualizuj" class="btn btn-primary form-control" />

            </div>
            <div class="col-3">
                <a asp-page="Index" class="btn btn-success form-control">Powrót do listy Drinków</a>
            </div>
        </div>
    </form>


</div>