@page
@model AboutModel
@{
    ViewData["Title"] = "Michał Kaminiak to ściekus Maximus";
}
<h2 class="text-center justify-content-center">@ViewData["Title"]</h2>
<h4 class="text-capitalize text-center m-3">@Model.Wiadomosc</h4>

<div class="p-3 m-3 container">
    <div class="row">
        <div class="col-md-6 item">
            <img src="~/images/piki v2.jpg" alt="Visual Studio" class="img-responsive" />
        </div>
        <div class="col-md-6 item">
            <img src="~/images/pik v3.jpg" alt="Visual Studio" class="img-responsive" />
        </div>
    </div>
</div>


<footer>
    <p class="text-center text-danger">Ogólnie to nie ma tragedi i trzensie sie kanapa</p>
</footer>