@page
@model ContactModel
@{
    ViewData["Title"] = "Kontakt";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Warszafka<br />
    Sciekowa 13<br />
    <abbr title="Telefon"></abbr>
    123456789
</address>

<address>
    <strong>Ściekus masterus</strong> <a href="mailto:t_losek@poczta.wwsi.edu.pl">t_losek@poczta.wwsi.edu.pl</a><br />
    <strong>The king of ściek</strong> <a href="mailto:r_malinowski@poczta.wwsi.edu.pl">r_malinowski@poczta.wwsi.edu.pl</a>
</address>
